.root {
  height: 40px;
  min-width: 40px;
  padding: 0.5px 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text--color-common);
  border-radius: 10px;
  @screen HVGAmobileMax { 
    height:30px;
    min-width: 30px;
  }
  &:hover:not(.disabled, .active, .isArrow) {
    color: var(--text--color-main);
    background-color: var(--bg-additional-color);
  }

  &.active {
    color: var(--text--color-main);
    background-color: var(--bg-additional-color);
  }

  &.disabled {
    stroke: theme('colors.grey.DEFAULT');
    cursor: initial;
  }

  &.isArrow {
    color: var(--text--color-main);
    background-color: var(--bg-additional-color);
  }
}